@import url('https://fonts.googleapis.com/css?family=Lato');
@import './node_modules/include-media/dist/_include-media.scss';

$breakpoints: (phone: 640px,
               tablet: 768px,
               desktop: 1024px) !default;

$primary: #777;

#flexdiv {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    #timer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        h1 {
            margin-top: 5px;
            font-size: 24px;
            color: $primary;
            @include media(">tablet") {
                font-size: 32px;
            }
        }
        h3 {
            margin: 0 auto;
        }
    }
    #basemap {
        margin-top: 10px;
        text-align: center;
        #dashboard {
            #infocards {
                display: flex;
                flex-direction: column;
                justify-content: center;
                span {
                    font-size: 16px;
                    padding: 20px;
                    border-radius: 15px;
                    margin: 10px auto 0px;
                    width: 300px;
                }
                span.kpi {
                    background-color: lighten($primary, 40%);
                }
                span.fact {
                    background-color: lighten($primary, 20%);
                }
            }
            #line-chart {
                margin: 10px auto 0px;
                width: 300px;
            }
        }
        @include media(">tablet") {
            #dashboard {
                display: flex;
                flex-direction: row;
                #infocards {
                    display: flex;
                    flex-direction: column;
                    margin-left: 25%;
                }
                #line-chart {
                    margin: 10px 0px 0px 0px;
                }
            }
        }
        .leaflet-container {
            margin-top: 20px;
            height: 475px;
            max-height: 475px;
            div.leaflet-pane.leaflet-map-pane > div.leaflet-pane.leaflet-popup-pane > div > div.leaflet-popup-content-wrapper > div {
                font-family: 'Lato', sans-serif;
            }
        }
    }
}
