@import url('https://fonts.googleapis.com/css?family=Lato');
@import './node_modules/include-media/dist/_include-media.scss';

$breakpoints: (phone: 640px,
               tablet: 768px,
               desktop: 1024px) !default;

$primary: #1f2439;
$lightPrimary: #3f4c5b;
$darkPrimary: darken($primary, 4%);
$secondary: #14adc4;
$lightSecondary: #60c4d3;
$darkSecondary: #14869d;
$primaryText: #f1f3f3;
$secondaryText: #98b3bb;
$accent: #37bf5b;

body {
    background-color: $primary;
}

.container {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__info {
        text-align: center;
        padding: 5px 15px;
        border-radius: 5px;
        color: $secondaryText;
        background-color: $lightPrimary;
        font-size: 14px;
    }
    &__clock {
        color: $secondaryText;
    }
    @include media(">tablet") {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        padding-left: 20px;
        padding-right: 20px;
        &__info {
            margin-left: 14%;
            margin-right: 10%;
            padding: 0 15px;
            font-size: 14px;
        }
        &__clock {
        }
    }
}

.basemap {
    @include media(">tablet") {
        margin-top: 2%;
        text-align: center;
    }
}

.dashboard {
    @include media(">tablet") {
        display: flex;
        flex-direction: row;
    }
    &__deck {
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include media(">tablet") {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: 5%;
        }
    }
    &__chart {  // override default recharts styling
        margin: 10px auto 0px;
        @include media(">tablet") {
            margin: 10px 0px 0px 0px;
        }
    }
}

.card {
    margin: 10px 10px 0px;
    font-size: 16px;
    padding: 20px;
    border-radius: 15px;
    width: 150px;
    &--blue {
        background-color: $secondary;
    }
    &__metric {
        font-size: 32px;
        color: $primaryText;
    }
    &__desc {
        font-size: 12px;
        text-align: center;
        color: darken($primaryText, 15%);
    }
    @include media(">tablet") {
        &__metric {
            font-size: 62px;
        }
    }
}

/**
* Vendor overrides
*/
.recharts-wrapper {
    width: 300px !important;
    @include media(">=tablet") {
        margin: 0 auto;
        width: 500px !important;
    }
    .recharts-surface {
        display: block;
        margin: 0 auto;
        width: 300px !important;
        @include media(">=tablet") {
            width: 500px !important;
        }
        .recharts-text {
            font-size: 10px;
            color: $secondaryText;
        }
    }
    .recharts-legend-wrapper {
        width: 300px !important;
        .recharts-legend-item-text {
            color: $secondaryText;
        }
    }
}

.leaflet-container {
    margin-top: 20px;
    height: 375px;
    div.leaflet-pane.leaflet-map-pane > div.leaflet-pane.leaflet-popup-pane > div > div.leaflet-popup-content-wrapper > div {
        font-family: 'Lato', sans-serif;
    }
    path.leaflet-interactive {
        stroke-width: 5px;
        stroke-dasharray: 10,10;
    }
    @include media(">=tablet") {
        height: 475px;
    }
}
